# Build outputs
src/**/bin/
src/**/obj/
tests/**/bin/
tests/**/obj/

# IDEs
.idea/
.vscode/
.vs/
*.user
*.suo

#Test results
TestResults/
*.coverage
*.coveragexml

# Launch settings
src/GeolocationAPI/Properties/launchSettings.json